{% extends 'base.html' %}

{%block head %}
<title>GlistS Home</title>
{% endblock %}


{%block body %}
<br>
<h1>Welcome to GlistS Blog</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome to GlistS Blog</h1>
            <p>Everybody wants to convey many things but can't do that in person. We all prefer writing things what we can't deliver. Be it a busy and long day, or just chilling around on the weekends. Anything on your mind? We got you covered. Use our Blogging site to say anything on your mind. Not only that you can read other people minds too. How? It's pretty simple, you can read their blogs too! So just dive into it and start saying what's in your head!</p>
            <p>Wanna search for job near your area? Go to <a href="https://thawing-bayou-21786.herokuapp.com/">GlistS Job Finder.</a> Visit our job finding application. To find jobs near your area.</p>
            <p>Visit the creaters Website: <a href="https://suvadeep-portfolio.herokuapp.com/index.html">Suvadeep Ghoshal</a> To learn more</p>
            <p>
                <a class="btn btn-primary"  href="/posts" role="button">Go to Posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}